<source>
  @type tail
  format /^(?<timestamp>[^ ]*) (?<severity>[A-Z]) [^ ]* (?<message>[^\n]+)/
  path /var/log/mongodb/*.log
  pos_file /var/lib/google-fluentd/pos/mongodb.pos
  read_from_head true
  tag mongodb
</source>
